<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="control_joint" params="name">
        <joint name="${name}">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </xacro:macro>

    <xacro:macro name="rs007l_ros2_control" params="name">
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>robot_hardware/RobotSystem</plugin>
            </hardware>
            <!-- <xacro:control_joint name="joint1" />
            <xacro:control_joint name="joint2" />
            <xacro:control_joint name="joint3" />
            <xacro:control_joint name="joint4" />
            <xacro:control_joint name="joint5" />
            <xacro:control_joint name="joint6" /> -->
        </ros2_control>
    </xacro:macro>
</robot>